<!DOCTYPE html>
<html>
<head>
    <title>Add Review</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="content-container"> 
    <h1>Add Review</h1>

   <form action="/reviews/add" method="POST">
            <label for="courseNumber">Course Number:</label>
            <input type="text" id="courseNumber" name="courseNumber" required><br><br>
            <label for="courseName">Course Name:</label>
            <input type="text" id="courseName" name="courseName" required><br><br>
            <label for="semester">Semester:</label>
            <select id="semester" name="semester">
                <option value="">Select Semester</option>
                <option value="Fall">Fall</option>
                <option value="Spring">Spring</option>
            </select><br><br>
            <label for="year">Year:</label>
            <input type="text" id="year" name="year" required><br><br>
            <label for="professor">Professor:</label>
            <input type="text" id="professor" name="professor" required><br><br>
            <label for="review">Review:</label>
            <textarea id="review" name="review" rows="2" cols="20" required></textarea><br><br>
            <button type="submit">Submit Review</button>
        </form>

        <a href="/">Back to All Reviews</a>
        
    </div>
</body>
</html>
``
