body {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	background-color: rgb(189, 195, 203);
}

form {
	margin: 0 auto;
	padding: 20px;
	align-items: center;
} 

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
}
  
th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}
  
th {
	background-color: #070e3af7; 
	color: white;
}



header{
	background-color: #07304b;
	color: #1a0404;
	padding: 30px;
	text-align: center;
	margin:0;
}

h1 {
    font-size: 46px;
    color: #ffffff; /* Set header text color */
}

h3 {
    font-size: 20px;
	color: wheat;
}

.content-container {
    margin: 0 auto;  /* Center the container on the page */
    text-align: center; /* Ensure text alignment is left within the container */
  }

  nav{
	align-items: center;
	background-color: #031723;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 0px; 
}

nav ul {
    list-style:none;
    padding: 0;
}

nav li {
    display:inline-block;
    margin-right: 0px; /* Adjust the margin between menu items */
}

nav a {
    text-decoration: none;
    padding: 25px 30px;
    background-color: #031723; /* Background color of the rectangles */
    color: #fff; /* Text color */
	font-size: 16px;
}

nav a:hover {
    background-color: #2980b9; /* Change background color on hover */
}

a:hover{	
	color: #fff;
	background-color: #cbe3f4;
}

.about-session{
	color: white;
	padding: 30px;
	text-align: right;
	margin:0;
}

.center-span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Optional: Set a specific height if needed */
}